* {
    background-color: bisque;
}

h1 {
    color:darkgreen;
    text-align: center;
    font-size: 100px;
    font-family: Verdana, "Times New Roman", sans-serif;
}

.recipe {
    text-align: center;
    font-family: Verdana, "Times New Roman", sans-serif;
    font-size: 20px;
}