* {
    background-color: bisque;
}
button {
    margin: 0 auto;
    display: block;
}

h1 {
    color:darkgreen;
    text-align: center;
    font-size: 100px;
    font-family: Verdana, "Times New Roman", sans-serif;
}

.recipes {

    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 20px;
}

.hotsauce {
    text-align: right;
    background-color: crimson;
}

.pancakes {
    text-align: left;
    background-color: aqua;
}

.adobo {
    text-align: center;
    background-color: brown;
}

